<a href="https://colab.research.google.com/github/kshitizkool/Tools-and-Techniques-Lab/blob/main/T%26TLab7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
df = pd.DataFrame({"name":["abc","pqr","xyz"],"Roll no ":[1,2,3],"marks":[10,8,3]})

In [2]:
df = pd.DataFrame({"COL1":[0,4,8,12,16],"COL2":[1,5,9,15,17],"COL3":[2,6,10,14,18],"COL4":[3,7,11,15,19]})

In [3]:
df

   COL1  COL2  COL3  COL4
0     0     1     2     3
1     4     5     6     7
2     8     9    10    11
3    12    15    14    15
4    16    17    18    19