<a href="https://colab.research.google.com/github/kshitizkool/Tools-and-Techniques-Lab/blob/main/T%26TLab3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import math

In [2]:
abs(-10)

10

In [3]:
abs(-10.2)

10.2

In [5]:
math.ceil(-10.2)

-10

In [6]:
math.ceil(-8.9)

-8

In [7]:
math.log(10)

2.302585092994046

In [8]:
math.log10(10)

1.0

In [9]:
math.log(1024)

6.931471805599453

In [12]:
math.tan(math.radians(45))

0.9999999999999999

In [13]:
math.tan(math.radians(90))

1.633123935319537e+16

In [14]:
math.modf(20.7)

(0.6999999999999993, 20.0)

In [15]:
type([])
lst=[1,2,3,4,5]
print(lst)
for i in lst:
  print(lst)

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]

In [23]:
type([])
lst=[1,2,3,4,5]
print(lst)
for i in lst:
  print(lst)
print(lst[2])

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]
3
['Ram', 2, 3, 4, 5]
Ram
2
3
4
5

5

In [24]:
len(lst)

5

In [25]:
lst[0]='Ram'
print(lst)
for i in lst:
  print(i)

['Ram', 2, 3, 4, 5]
Ram
2
3
4
5

In [26]:
max(10,9.7,4,100)

100

In [27]:
math.pow(2,10)

1024.0

In [28]:
math.pow(2,-10)

0.0009765625

In [29]:
math.sqrt(25)

5.0

In [30]:
math.sqrt(25.0)

5.0

In [31]:
math.sin(90)

0.8939966636005579

In [32]:
math.radians(90)

1.5707963267948966

In [33]:
l=[1,3,2,5,7,9,1,1,3,2,5,5,7]

In [36]:
l.count(1)

3

In [37]:
len(l)

13

In [38]:
l.append(12)

In [39]:
len(l)

14

In [42]:
print(l)

[1, 3, 2, 5, 7, 9, 1, 1, 3, 2, 5, 5, 7, 12, 'shyam']

In [41]:
l.append('shyam')

In [43]:

print(l)

[1, 3, 2, 5, 7, 9, 1, 1, 3, 2, 5, 5, 7, 12, 'shyam']

In [44]:
len(l)

15

In [47]:
l.pop(1)

3

In [48]:
len(l)

14

In [50]:
l.append(1)

In [52]:
l.append(7)

In [53]:
l.append(5)

In [54]:
len(l)

17

In [55]:
l

[1, 2, 5, 7, 9, 1, 1, 3, 2, 5, 5, 7, 12, 'shyam', 1, 7, 5]

In [56]:
l[6]

1

In [57]:
l[-1]

5

In [58]:
l[1:-1]

[2, 5, 7, 9, 1, 1, 3, 2, 5, 5, 7, 12, 'shyam', 1, 7]

In [59]:
l[2:-5]

[5, 7, 9, 1, 1, 3, 2, 5, 5, 7]

In [60]:
l=l[2:-2]

In [61]:
l

[5, 7, 9, 1, 1, 3, 2, 5, 5, 7, 12, 'shyam', 1]

In [63]:
len(l)

13

In [64]:
l[:]

[5, 7, 9, 1, 1, 3, 2, 5, 5, 7, 12, 'shyam', 1]

In [65]:
l.insert(1,"kool")

In [66]:
l

[5, 'kool', 7, 9, 1, 1, 3, 2, 5, 5, 7, 12, 'shyam', 1]

In [75]:
l.insert(3,'kshitiz')

In [76]:
l.remove("kshitiz")

In [77]:
l

['kshitiz',
 'kshitiz',
 'kshitiz',
 5,
 'kool',
 7,
 9,
 1,
 1,
 3,
 2,
 5,
 5,
 7,
 12,
 'shyam',
 1]

In [78]:
l.remove('kshitiz')

In [79]:
l

['kshitiz', 'kshitiz', 5, 'kool', 7, 9, 1, 1, 3, 2, 5, 5, 7, 12, 'shyam', 1]

In [80]:
l.remove('kshitiz')

In [81]:
l

['kshitiz', 5, 'kool', 7, 9, 1, 1, 3, 2, 5, 5, 7, 12, 'shyam', 1]

TypeError: ignored

In [86]:
l1=[1,3,5,6,9,8]
print(sum(l1))

32

In [87]:
print(sum(l1)+6)

38

In [88]:
l1.pop()

8

In [90]:
l1

[1, 3, 5, 6, 9]

In [91]:
l1.pop(2)

5

In [92]:
l1

[1, 3, 6, 9]

In [94]:
s1={1,2,4,7,9}

In [95]:
type(s1)

set

In [97]:
s2={6,3,2,1,5}

In [98]:
type(s2)

set

Q1

In [99]:
lst = []
  
# number of elements as input
n = int(input("Enter number of elements : "))
  
# iterating till the range
for i in range(0, n):
    ele = int(input())
  
    lst.append(ele) # adding the element
      
print(lst)

Enter number of elements : 5
2
4
6
8
5
[2, 4, 6, 8, 5]

Q2

In [101]:
l=lst.copy()
l

[2, 4, 6, 8, 5]

Q3

In [102]:
list_1 = [1, 'a']
list_2 = [3, 4, 5]

list_joined = list_1 + list_2
print(list_joined)

[1, 'a', 3, 4, 5]

Q4

In [104]:
test_list = ["", "GeeksforGeeks", "", "is", "best", ""]
 
# Printing original list
print("Original list is : " + str(test_list))
 
# using remove() to
# perform removal
while("" in test_list):
    test_list.remove("")
 
# Printing modified list
print("Modified list is : " + str(test_list))

Original list is : ['', 'GeeksforGeeks', '', 'is', 'best', '']
Modified list is : ['GeeksforGeeks', 'is', 'best']

Q5

In [105]:
mylist = [21, 5, 8, 52, 21, 87]
r_item = 21

#remove the item for all its occurrences
for item in mylist:
	if(item==r_item):
		mylist.remove(r_item)

print(mylist)

[5, 8, 52, 87]

Q6

In [112]:
min([3, 5, 9, 1, -5])
max([3, 5, 9, 1, -5])

9

In [111]:
import numpy
numpy.mean([3, 5, 9, 1, -5])

2.6

Q7

In [113]:
l=[3, 5, 9, 1, -5,2,5,23,34,5]

In [114]:
l.sort(reverse=True)

In [115]:
l

[34, 23, 9, 5, 5, 5, 3, 2, 1, -5]

Q8

In [116]:
# Python program to count and
# print all palindrome numbers in a list.


def palindromeNumbers(list_a):

	c = 0

	# loop till list is not empty
	for i in list_a:

		# Find reverse of current number
		t = i
		rev = 0
		while t > 0:
			rev = rev * 10 + t % 10
			t = t // 10

		# compare rev with the current number
		if rev == i:
			print(i)
			c = c + 1

	print()
	print("Total palindrome nos. are", c)
	print()

# Driver code


def main():

	list_a = [10, 121, 133, 155, 141, 252]
	palindromeNumbers(list_a)

	list_b = [111, 220, 784, 565, 498, 787, 363]
	palindromeNumbers(list_b)


if __name__ == "__main__":
	main()			 # main function call

121
141
252

Total palindrome nos. are 3

111
565
787
363

Total palindrome nos. are 4

Q9

In [117]:
# Python3 code to convert a tuple
# into a string using a for loop


def convertTuple(tup):
		# initialize an empty string
	str = ''
	for item in tup:
		str = str + item
	return str


# Driver code
tuple = ('g', 'e', 'e', 'k', 's')
str = convertTuple(tuple)
print(str)

geeks

Q10

In [118]:
#create a tuple
tuplex = 2, 4, 5, 6, 2, 3, 4, 4, 7 
print(tuplex)
#return the number of times it appears in the tuple.
count = tuplex.count(4)
print(count)

(2, 4, 5, 6, 2, 3, 4, 4, 7)
3

Q11

In [123]:
# Python3 program to convert a
# list into a tuple
def convert(list):
	return list
# Driver function
list = [1, 2, 3, 4]
print(convert(list))

[1, 2, 3, 4]

Q12

In [124]:
# Reversing a tuple using slicing technique
# New tuple is created
def Reverse(tuples):
	new_tup = tuples[::-1]
	return new_tup
	
# Driver Code
tuples = ('z','a','d','f','g','e','e','k')
print(Reverse(tuples))

('k', 'e', 'e', 'g', 'f', 'd', 'a', 'z')

Q13

In [125]:
# Python program to remove empty tuples from a
# list of tuples function to remove empty tuples
# using list comprehension
def Remove(tuples):
	tuples = [t for t in tuples if t]
	return tuples

# Driver Code
tuples = [(), ('ram','15','8'), (), ('laxman', 'sita'),
		('krishna', 'akbar', '45'), ('',''),()]
print(Remove(tuples))

[('ram', '15', '8'), ('laxman', 'sita'), ('krishna', 'akbar', '45'), ('', '')]

Q14

In [126]:
l = [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
print([t[:-1] + (100,) for t in l])

[(10, 20, 100), (40, 50, 100), (70, 80, 100)]

Q15

In [128]:
a=(1,2,3,4,5,6,7,8,9,10,11)
print("Fifth element from first:",a[4])
print("Fifth element from last:",a[-5])

Fifth element from first: 5
Fifth element from last: 7

Q16

In [ ]:
x = {1,2,3,4}
y = {4,5,6,7}
z = {8}
print("Original set elements:")
print(x)
print(y)
print(z)
print("\nConfirm two given sets have no element(s) in common:")
print("\nCompare x and y:")
print(x.isdisjoint(y))
print("\nCompare x and z:")
print(z.isdisjoint(x))
print("\nCompare y and z:")
print(y.isdisjoint(z))

Q17

In [129]:
tuplex = ("w", 3, "r", "e", "s", "o", "u", "r", "c", "e")
print("r" in tuplex)
print(5 in tuplex)

True
False

Q18

In [130]:
nums = {1, 3, 5, 7, 9, 11}
print("Original sets(nums): ",nums,"\n")
print("Test if 6 exists in nums:")
print(6 in nums)
print("Test if 7 exists in nums:")
print(7 in nums)
print("Test if 11 exists in nums:")
print(11 in nums)
print("Test if 0 exists in nums:")
print(0 in nums)
print("\nTest if 6 is not in nums")
print(6 not in nums)
print("Test if 7 is not in nums")
print(7 not in nums)
print("Test if 11 is not in nums")
print(11 not in nums)
print("Test if 0 is not in nums")
print(0 not in nums)

Original sets(nums):  {1, 3, 5, 7, 9, 11}

Test if 6 exists in nums:
False
Test if 7 exists in nums:
True
Test if 11 exists in nums:
True
Test if 0 exists in nums:
False

Test if 6 is not in nums
True
Test if 7 is not in nums
False
Test if 11 is not in nums
False
Test if 0 is not in nums
True

Q19

In [131]:
nums = {10,20,30,40,50}
print("Original set: ",nums)
print("If nums is superset of itself?")
print(nums.issuperset(nums))
num1 = {1, 2, 3, 4, 5, 7}
num2 = {2, 4}
num3 = {2, 4}
print("\nnum1 = ", num1)
print("num2 = ", num2)
print("num3 = ", num3)
print("If mum1 is superset of num2:")
print(num1>num2)
print("Compare mum2 and num3:")
print("If mum2 is superset of num3:")
print(num2>num3)
print("If mum3 is superset of num2:")
print(num3>num2)

Original set:  {40, 10, 50, 20, 30}
If nums is superset of itself?
True

num1 =  {1, 2, 3, 4, 5, 7}
num2 =  {2, 4}
num3 =  {2, 4}
If mum1 is superset of num2:
True
Compare mum2 and num3:
If mum2 is superset of num3:
False
If mum3 is superset of num2:
False

Q20

In [132]:
# Program to perform different set operations
# as we do in mathematics

# sets are define
A = {0, 2, 4, 6, 8};
B = {1, 2, 3, 4, 5};

# union
print("Union :", A | B)

# intersection
print("Intersection :", A & B)

# difference
print("Difference :", A - B)

# symmetric difference
print("Symmetric difference :", A ^ B)

Union : {0, 1, 2, 3, 4, 5, 6, 8}
Intersection : {2, 4}
Difference : {0, 8, 6}
Symmetric difference : {0, 1, 3, 5, 6, 8}

Q21

In [133]:
sn1 = {1,2,3,4,5}
sn2 = {4,5,6,7,8}
print("Original sets:")
print(sn1)
print(sn2)
print("\nRemove the intersection of a 2nd set from the 1st set using difference_update():")
sn1.difference_update(sn2)
print("sn1: ",sn1)
print("sn2: ",sn2)
sn1 = {1,2,3,4,5}
sn2 = {4,5,6,7,8}
print("\nRemove the intersection of a 2nd set from the 1st set using -= operator:")
sn1-=sn2
print("sn1: ",sn1)
print("sn2: ",sn2)

Original sets:
{1, 2, 3, 4, 5}
{4, 5, 6, 7, 8}

Remove the intersection of a 2nd set from the 1st set using difference_update():
sn1:  {1, 2, 3}
sn2:  {4, 5, 6, 7, 8}

Remove the intersection of a 2nd set from the 1st set using -= operator:
sn1:  {1, 2, 3}
sn2:  {4, 5, 6, 7, 8}