<a href="https://colab.research.google.com/github/kshitizkool/Tools-and-Techniques-Lab/blob/main/T%26TLab6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
def f(n):
    if n%2==0:
        return "even"
    else:
        return "odd"
lst=[5,3,6,9,8,0,12,4,7,68]
list(map(f,lst))

['odd', 'odd', 'even', 'odd', 'even', 'even', 'even', 'even', 'odd', 'even']

In [ ]:
s=lambda x,y:x+y
s(4,10)

14

In [ ]:
d=lambda t,d:t-d
d(14,8)

6

In [ ]:
#Q1
x=lambda x:15+x
x(3)

18

In [ ]:
#Q1
x=lambda x,y:x*y
x(5,3)

15

In [ ]:
#Q2
lst = [('English', 88), ('Science', 90), ('Maths', 97), ('Social sciences', 82)]
sorted_list = sorted(lst, key=lambda x: x[1])
print(sorted_list)

[('Social sciences', 82), ('English', 88), ('Science', 90), ('Maths', 97)]

In [ ]:
#Q3
lst = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
even_list = list(filter(lambda x: x % 2 == 0, lst))

odd_list = list(filter(lambda x: x % 2 != 0, lst))

print("Even numbers:", even_list)
print("Odd numbers:", odd_list)

Even numbers: [2, 4, 6, 8, 10]
Odd numbers: [1, 3, 5, 7, 9]

In [ ]:
#Q5
def f(s):
    if s.startswith('P'):
        return "True"
    elif s.startswith('p'):
        return "True"
    else:
        return "False"
lst=['Python','Java']
start_char = lambda s, char: s.startswith(char)
list(map(f,lst))

['True', 'False']

In [ ]:
#Q5
starts_with = lambda x: True if x.startswith('P') else False
lst=['Python','Java']
list(map(starts_with,lst))

[True, False]

In [ ]:
#Q6

In [ ]:
#Q7
array_nums1 = [1, 2, 3, 5, 7, 8, 9, 10]
array_nums2 = [1, 2, 4, 8, 9]
print("Original arrays:")
print(array_nums1)
print(array_nums2)
result = list(filter(lambda x: x in array_nums1, array_nums2)) 
print ("\nIntersection of the said arrays: ",result)

Original arrays:
[1, 2, 3, 5, 7, 8, 9, 10]
[1, 2, 4, 8, 9]

Intersection of the said arrays:  [1, 2, 8, 9]

In [ ]:
#Q8
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print("Original list of integers:")
print(nums)
print("\nEven numbers from the said list:")
even_nums = list(filter(lambda x: x%2 == 0, nums))
print(even_nums)
print("\nOdd numbers from the said list:")
odd_nums = list(filter(lambda x: x%2 != 0, nums))
print(odd_nums)

Original list of integers:
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

Even numbers from the said list:
[2, 4, 6, 8, 10]

Odd numbers from the said list:
[1, 3, 5, 7, 9]

In [ ]:
#Q9
array_nums = [-1, 2, -3, 5, 7, 8, 9, -10]
print("Original arrays:")
print(array_nums)
result = sorted(array_nums, key = lambda i: 0 if i == 0 else -1 * i)
print("\nRearrange positive and negative numbers of the said array:")
print(result)

Original arrays:
[-1, 2, -3, 5, 7, 8, 9, -10]

Rearrange positive and negative numbers of the said array:
[9, 8, 7, 5, 2, -1, -3, -10]

In [ ]:
#Q10
texts = ["php", "w3r", "Python", "abcd", "Java", "aaa"]
print("Orginal list of strings:")
print(texts) 
result = list(filter(lambda x: (x == "".join(reversed(x))), texts)) 
print("\nList of palindromes:")
print(result)

Orginal list of strings:
['php', 'w3r', 'Python', 'abcd', 'Java', 'aaa']

List of palindromes:
['php', 'aaa']

In [ ]:
#Q11
lst = [[0], [1, 3], [5, 7], [9, 11], [13, 15, 17]]

max_list = max(lst, key=lambda x: len(x))
min_list = min(lst, key=lambda x: len(x))

print("List with maximum length:", max_list)
print("List with minimum length:", min_list)

List with maximum length: [13, 15, 17]
List with minimum length: [0]

In [ ]:
#Q12
lst = [1, 2, 3, 4, 5]
result = list(map(lambda x: x*3, lst))
print("Original list:", lst)
print("Tripled list:", result)

Original list: [1, 2, 3, 4, 5]
Tripled list: [3, 6, 9, 12, 15]

In [ ]:
#Q13
list1 = [1, 2, 3]
list2 = [4, 5, 6]
list3 = [7, 8, 9]

result = list(map(lambda x, y, z: x + y + z, list1, list2, list3))

print("List 1:", list1)
print("List 2:", list2)
print("List 3:", list3)
print("Resultant list:", result)

List 1: [1, 2, 3]
List 2: [4, 5, 6]
List 3: [7, 8, 9]
Resultant list: [12, 15, 18]

In [ ]:
#Q14
num = 2
bases = [1, 2, 3, 4, 5]

result = list(map(lambda x: num**x, bases))

print("Number:", num)
print("Bases:", bases)
print("Resultant list:", result)

Number: 2
Bases: [1, 2, 3, 4, 5]
Resultant list: [2, 4, 8, 16, 32]

In [ ]:
#Q15
seq = "Hello World"

result1 = "".join(map(lambda x: x.upper(), seq))
result2 = "".join(map(lambda x: x.lower(), seq))
result3 = list(set(seq))
p=""
for char in seq:
    if char not in p:
        p=p+char
print(p)

print("Original sequence:", seq)
print("Uppercase sequence:", result1)
print("Lowercase sequence:", result2)
print(p)

Helo Wrd
Original sequence: Hello World
Uppercase sequence: HELLO WORLD
Lowercase sequence: hello world
Helo Wrd